<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uk.co.purplemonkeys.spengler"
      android:versionCode="1"
      android:versionName="v0.0.2" android:installLocation="preferExternal">
    <application android:icon="@drawable/icon" 
                    android:label="@string/app_name" 
                    android:debuggable="true" 
                    android:name="SpengApp">
        <activity android:name=".SpengDroid"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ShareLink">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Preferences" android:label="@string/app_name"></activity>
        
        <activity android:name="org.acra.CrashReportDialog"
                    android:theme="@android:style/Theme.Dialog"
                    android:launchMode="singleInstance"
                    android:excludeFromRecents="true"
                    android:finishOnTaskLaunch="true" />
                    
        <service android:name=".services.FeedRetrieverService" android:label="@string/app_feed_service_name" />
    </application>
    
    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 